/* General */
a { text-decoration: none; }
.hidden { display: none; }

/* Structure */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f1;
}

.projects_me {
  flex: 0 0 20%; /* Variable: size */
  background-color: #272727;
  box-shadow: inset -5px 0 30px 0 rgba(0,0,0,0.55);
}

.content {
  flex: 0 0 80%; /* Variable: size */
  background-color: #ecf0f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left sidebar */
.me {
  color: white;
  display: flex;
  align-items: center;
  margin: 20px 10px;
  font-weight: 100;
}

.me_img {
  flex: 1 1 23%;
}

.me img {
  border-radius: 50%;
}

.me section {
  margin: 0 5px;
  flex: 1 1 60%;
}

.me section span {
  display: block;
  color: #ecf0f1; /* Variable: color */
}

.me-go {
  flex: 1 1 5%;
  color: white;
  text-align: center;
}

.projects_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ecf0f1; /* Variable: color */
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.projects {
  list-style: none;
  margin-top: 10px;
  padding-left: 25px;
  margin-bottom: 30px;
}

.projects li {
  margin: 5px 0;
  font-weight: 100;
}

.projects a {
  color: #ecf0f1; /* Variable: color */
  transition: left 0.3s ease;
}

.projects a:hover {
  position: relative;
  left: 0.5em;
}

.projects_me .go-gallery {
  display: block;
  width: 50%;
  margin: auto;
}

/* Main content */
.content h1 {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 100;
}

.content h1 a {
  color: #333;
}

/* For projects */
.home, .project, .profile, .gallery {
  align-self: flex-start;
  flex: 0 0 80%;
  background-color: white;
  margin-bottom: 40px;
  padding: 20px ;
}

.home h2, .project h2, .profile h2, .gallery h2 {
  margin-top: 5px;
  text-align: center;
}

.project_technos {
  text-align: center;
  margin-bottom: 30px;
}

.project_technos img {
  margin: 0 5px;
  border-radius: 50%;
}

.home_description, .project_description, .me_description {
  text-align: justify;
  font-weight: 100;
}

.project_infos, .me_infos {
  list-style: none;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  background-color: #f0f0f0;
}

.project_infos li span, .me_infos li span {
  display: block;
  font-size: 0.90rem;
}

.infos_title {
  font-weight: bold;
}

.project_links {
  display: flex;
  justify-content: space-between;
}

.project_links a, .me_links a, .go-gallery {
  flex: 0 0 15%;
  text-align: center;
  color: #fff;
  border-color: #ea2f10;
  background-color: #f04124;
  padding: 10px 20px;
  font-size: 0.8125rem;
}

/* For profile */
.contact_me {
  text-align: center;
}

.contact_me .icon {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: solid 1px rgba(51, 51, 51, 0.45); /* Variable: color */
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2em;
  margin: 0 5px;
}

.contact_me .label {
  display: none;
}

.icon.twitter { color: #55acee;  }
.icon.github { color: #666666; }
.icon.linkedin { color: #0077b5; }
.icon.mail { color: #9e9e9e; }
.icon.deviantart{ color: #05cc47; }

.me_links {
  display: flex;
  justify-content: center;
}

/* For gallery */
.a_gallery {
  display: flex;
  flex-wrap: wrap;
}

.a_gallery img {
  cursor: pointer;
  width: 23%;
  flex: 1 1 23%;
  display: block;
  max-width: 100%;
  height: 200px;
  margin: 5px;
}

/* For home */
.home {
  align-self: center;
}

.home_description span {
  display: block;
  text-align: right;
}

/* For mobile, tablets ... */

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  .me {
    margin: 10px;
  }

  .projects_me {
    flex: 0 0 100%;
  }

  .projects_list {
    display: none;
  }

  .content {
    flex: 0 0 100%;
  }

  .content article {
    margin-top: 20px;
  }
  .
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {

}

/* Desktop and more */
@media screen and (min-width: 992px) {

}
