h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive !important;
}
p,
a {
  font-weight: 100;
  font-family: 'Raleway', sans-serif !important;
}

.uk-button-default {
  color: rgb(229, 77, 66);
  border-color: rgb(229, 77, 66);
  background-color: transparent;
  transition: background-color 0.7s ease;
}

.uk-button-default:hover {
  color: white;
  border-color: rgb(229, 77, 66);
  background-color: rgb(229, 77, 66);
}

/* Hello */

/* Clients */

/* Projects */

/* Contact me */
section#contact-me {
  position: relative;
}

.scroll-to-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
