<header class="me">
  <a class="me_img" href="/about/">
    <img alt="" title="" src="{{ site.url }}/assets/me.jpg"/>
  </a>
  <section>
    <a href="/about/">
      <span class="identity"> Schmidely Stéphane </span>
      <span class="age"> 23 ans </span>
    </a>
  </section>
  <a class="me-go" href="/about/">
    <i class="fa fa-angle-right"></i>
  </a>
</header>
<div class="projects_list">
  <span class="projects_title">Projets</span>
  <ul class="projects">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="/gallery/" title="" class="go-gallery">Consulter la gallerie</a>
</div>
