/* General */
a { text-decoration: none; }
.hidden { display: none; }

article a {
 color: #ea2f10;
 font-weight: bolder;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 20px;
  padding: 0.5em 10px;
  p {
    margin: 0;
    font-style: italic;
  }
}
