/* Structure */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f1;
}

.projects_me {
  flex: 0 0 20%; /* Variable: size */
  background-color: #272727;
  box-shadow: inset -5px 0 30px 0 rgba(0,0,0,0.55);
}

.content {
  flex: 0 0 80%; /* Variable: size */
  background-color: #ecf0f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Left sidebar */
.me {
  color: white;
  display: flex;
  align-items: center;
  margin: 20px 10px;
  font-weight: 100;

  img {
    border-radius: 50%;
  }

  section {
    margin: 0 5px;
    flex: 1 1 60%;

    span {
      display: block;
      color: #ecf0f1; /* Variable: color */
    }
  }

}

.me_img {
  flex: 1 1 23%;
}

.me-go {
  flex: 1 1 5%;
  color: white;
  text-align: center;
}

.projects_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #ecf0f1; /* Variable: color */
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.projects {
  list-style: none;
  margin-top: 10px;
  padding-left: 25px;
  margin-bottom: 30px;

  li {
    margin: 5px 0;
    font-weight: 100;
  }

  a {
    color: #ecf0f1; /* Variable: color */
    transition: left 0.3s ease;
    &:hover {
      position: relative;
      left: 0.5em;
    }
  }

}

.projects_me .go-gallery {
  display: block;
  width: 50%;
  margin: auto;
}

/* Main content */
.content h1 {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 100;

  a {
    color: #333;
  }

}


.toggle_menu {
  display: none;
  text-align: center;
  padding: 5px 10px;
  font-size: 0.8125rem;
  border: none;
  color: lightgray;
  background-color: gray;
  text-transform: uppercase;
}
