/* For profile */
.contact_me {
  text-align: center;

  .icon {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px rgba(51, 51, 51, 0.45);
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2em;
    margin: 0 5px;
  }

  .label {
    display: none;
  }

}

@each $icon, $color-light, $color-brand in
  (twitter, $twitter, $twitter-brand-color), (github, $github, $github-brand-color),
  (linkedin, $linkedin, $linkedin-brand-color), (mail, $mail, $mail-brand-color),
  (deviantart, $deviantart, $deviantart-brand-color) {
  .icon.#{$icon} {
    color: #{$color-light};
    &:hover {
      color: #{$color-brand};
    }
  }
}

.me_links {
  display: flex;
  justify-content: center;
}
