/* For profile */
.contact_me {
  text-align: center;

  .icon {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    border-radius: 100%;
    border: solid 1px rgba(51, 51, 51, 0.45); /* Variable: color */
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    top: 0;
    width: 2em;
    margin: 0 5px;
  }

  .label {
    display: none;
  }

}

.icon.twitter { color: #55acee;  }
.icon.github { color: #666666; }
.icon.linkedin { color: #0077b5; }
.icon.mail { color: #9e9e9e; }
.icon.deviantart{ color: #05cc47; }

.me_links {
  display: flex;
  justify-content: center;
}
