/* For mobile, tablets ... */

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }

  .me {
    margin: 10px;
  }

  .projects_me {
    flex: 0 0 100%;
  }

  .projects_list {
    display: none;
  }

  .content {
    flex: 0 0 100%;
  }

  .toggle_menu {
    display: block;
  }

  .content article {
    margin-top: 20px;
  }

  .project_infos, .me_infos {
    flex-direction: column;
  }

  .project_infos li, .me_infos li {
    margin-bottom: 5px;
  }

  .project_links a {
    flex: 0 0 35%;
  }

  .me_links a {
    flex: 1 1 100%;
  }
  .
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .projects_me {
    height: 100vh;
    position: fixed;
  }

  .content {
    position: relative;
    left: 20%;
  }
}

/* Desktop and more */
@media screen and (min-width: 992px) {
  .projects_me {
    height: 100vh;
    position: fixed;
  }

  .content {
    position: relative;
    left: 20%;
  }
}
