// Colors
$red: #ea2f10;
$lighter-red: #f04124;
$dark-gray: #272727;
$light-gray: #ecf0f1;

$twitter  :#55acee;
$github  :#666666;
$linkedin  :#0077b5;
$mail  :#9e9e9e;
$deviantart :#05cc47;

// Breakpoints
$mobile: 767px;
$min-tablet: 768px;
$max-tablet: 992px;
$desktop: 992px;

// Fonts
$default-font: 'Open Sans', sans-serif;
