---
layout: default
style:
---
<h1> <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> </h1>

<article class="gallery">
  <h2>Gallerie</h2>

  <div class="project_description">
    {% for post in site.posts %}
      <h3 id="{{ post.id }}"> {{ post.title }} </h3>
      <div class="a_gallery">
        {% for img in post.images %}
          {% assign img_meta = img[1] | split: "|" %}
          <img alt="{{ img_meta[0] }}" title="{{ img_meta[0] }}" src="/assets/{{ post.id }}/{{ img[0] }}.png" class="intense"
               data-title="{{ img_meta[0] }}"  data-caption="{{ img_meta[1] }}"/>
<img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>

        {% endfor %}
      </div>
    {% endfor %}
  </div>
</article>

<script src="{{ "/js/intense.min.js" | prepend: site.baseurl }}"></script>
<script>
  window.onload = function() {
    // Intensify all images with the 'intense' classname.
    var elements = document.querySelectorAll( '.intense'  );
    Intense( elements );
  }
</script>
