---
layout: default
---
<h1> <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> </h1>

<article class="gallery">
  <h2>Gallerie</h2>

  <div class="project_description">
    <h3 id="bernardins">Collège des Bernardins</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="labyrinthix">Labyrinthix</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="hopways">Hopways</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="latexml">LaTeXML</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="portfolio">Portfolio</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="lecarologeek">Le Carolo Geek</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="interplast">Interplast France</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="entretien">Entretien</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="theatre">Théatre</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

    <h3 id="yeppapa">YepPapa !</h3>
    <div class="a_gallery">
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
      <img alt="" title="" src="http://placehold.it/800x500" class="intense" data-title="TITLE" data-caption="DESCRIPTION"/>
    </div>

  </div>
</article>

<!--
  <script src="js/intense.min.js"></script>
  <script>
    window.onload = function() {
      // Intensify all images with the 'intense' classname.
      var elements = document.querySelectorAll( '.intense'  );
      Intense( elements );
    }
  </script>
-->
