---
layout: default
---
<h1> <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> </h1>

<article class="project">
  <h2> {{ page.title }}</h2>
  <div class="project_technos">
    {% assign icons = page.icons | split: " " %}
    {% for icon in icons %}
      <span> <img alt="" title="" src="http://svgporn.com/logos/{{ icon }}.svg"/> </span>
    {% endfor %}
  </div>

  <div class="project_description">
    {{ content }}
  </div>

  <ul class="project_infos">
    <li>
      <span class="infos_title">Cadre:</span>
      <span class="infos_value"> {{ page.context }} </span>
    </li>
    <li>
      <span class="infos_title">Durée:</span>
      <span class="infos_value"> {{ page.duration }} </span>
    </li>
    <li>
      <span class="infos_title">Début du projet:</span>
      <span class="infos_value"> {{ page.start_project }} </span>
    </li>
    <li>
      <span class="infos_title">Equipe:</span>
      <span class="infos_value"> {{ page.developers }} développeurs</span>
    </li>
  </ul>

  <div class="project_links">
    <a title="" class="go-gallery" href="/gallery/#{{ page.id }}">Consulter la gallerie</a>
    <a title="" class="go-site" href="{{ page.links }}">Visiter le site</a>
  </div>
</article>
